.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(164, 86, 228);
}

#calculadora {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px 75px 75px;
    background: rgb(164, 86, 228);
    padding: 25px;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#display {
    grid-column: span 4;
    border: 3px solid rgb(206, 20, 223);
    background-color: rgb(187, 236, 240);
    text-align: right;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 20px 15px;
    font-size: 25px;
}

.column-2 {
    grid-column: span 2;
}

button {
    cursor: pointer;
    margin: 3px;
    border-radius: 35px;
    border: none;
    background: #fafa;
    font-size: 25px;
    color: white;
}

button:active {
    background:  rgb(206, 20, 223);
}