 h1 {
     color: red;
     background-color: #9C27F5;
     border: 1px;
     width: 600px;
     height: 90px;
 }

 h2 {
     color: rgb(233, 202, 30);
     background: "E57E35";
     font-family: Arial, Helvetica, sans-serif;
     font-size: 40px;
     margin-top: 50px;
     margin-bottom: 30px;
     margin-bottom: 1px solid red;
 }

 p {
     background: blue;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 }