 h1 {
     color: rgb(175, 38, 38);
     background-color: #29bed8;
     border: 1px;
     width: 600px;
     height: 90px;
 }

 h2 {
     color: rgb(233, 30, 189);
     background: "E57E35";
     font-family: Arial, Helvetica, sans-serif;
     font-size: 40px;
     margin-top: 50px;
     margin-bottom: 30px;
     margin-bottom: 1px solid rgb(167, 18, 18);
 }

 p {
     background: rgb(0, 255, 76);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 }