.formulario {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    
}

p::before {
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
    content: attr(type);
    display: block;
}

button {
    background-color: #0400ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.container_credit_card span{
    display: block;
}

.credit_card {
    display: flex;
    flex-direction: column;
    background: #0400ff;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    color: white;
}

.visa {
    border-radius: 5px;
    text-align: right;
}

.section1, .section2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

